<div class="container">
  <div class="row">
    <div class="mt-3 mx-auto">
      <h1>セルフクイズ</h1>
      <p>学習用問題作成・解答サイトです。</p>
      <p class="text-center"><%= link_to '問題を解く', categories_path, class: "btn btn-outline-dark px-5" %></p>
      <p class="text-center"><%= link_to '問題を作る', new_title_path, class: "btn btn-outline-dark px-5" %></p>
    </div>
  </div>
</div>




